//- index.jade
extends ./layout.jade

block content
  div.content
    div.chatArea
      div.usersArea
        h2 People
        ul.users
      ul.messages
      form.messageForm
        input.messageInput(type="text", required="true", placeholder="Write a message")
        button.submitMessage Send
        
        select#language(name='language') 
          option(value='mt-enus-eses' selected=sid=='mt-enus-eses') English to Spanish
          option(value='mt-eses-enus' selected=sid=='mt-eses-enus') Español a Inglés
          option(value='mt-enus-frfr' selected=sid=='mt-enus-frfr') English to French
          option(value='mt-frfr-enus' selected=sid=='mt-frfr-enus') Français vers Anglais
          option(value='mt-enus-ptbr' selected=sid=='mt-enus-ptbr') English to Portuguese
          option(value='mt-ptbr-enus' selected=sid=='mt-ptbr-enus') Português para Inglês
          option(value='mt-arar-enus' selected=sid=='mt-arar-enus') Arabic to English
    
    div.loginArea
      p Chat Translator. You provide the message, we provide the translation.
      p Don't let a language barrier be a barrier to communication.
      
      h2 Instructions
      ol
        li Enter in username
        li Select your language choice
        li Post your message
        li A translation of your message will displayed
       
      form.loginForm
        label Username: 
        input.usernameInput(type="text", maxlength="20", placeholder="Enter username")
        button.submitUsername Submit

  script(src='/js/socket.io.js')
  script(src='/js/jquery.js')
  script(src='/js/chat.js')
  script(src='/js/main.js')